body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table {
  border: 3px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  text-align: center;
  height: 6vmin;
  width: 6vmin;
  font-size: 4vmin;
}

td:nth-child(3n) {
  border-right: 3px solid black;
}

tr:nth-child(3n) {
  border-bottom: 3px solid black;
}

.starting-cell {
  background-color: #DFDFDF;
}

.conflict {
  background-color: red;
}
